Repository angelobarilari/twitchverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx
        args:
          - eslint
          - '--fix'
          - .
        language: node
        types: [javascript]
        pass_filenames: false
        files: frontend/
        exclude: frontend/node_modules

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        args: ["--line-length", "79", "."]
        language: system
        types: [python]
        pass_filenames: false
        files: backend/
        exclude: backend/migrations

feat: add pre-commit and moved backend files to backend folder
  .pre-commit-config.yaml
  backend/.env.example
  backend/.gitignore
  backend/bot.py
  backend/customapi/__init__.py
  backend/customapi/asgi.py
  backend/customapi/settings.py
  backend/customapi/urls.py
  backend/customapi/wsgi.py
  backend/datacollector/__init__.py
  backend/datacollector/admin.py
  backend/datacollector/apps.py
  backend/datacollector/migrations/0001_initial.py
  backend/datacollector/migrations/__init__.py
  backend/datacollector/models.py
  backend/datacollector/serializers.py
  backend/datacollector/tests.py
  backend/datacollector/urls.py
  backend/datacollector/views.py
  backend/manage.py
  backend/requirements.txt
  datacollector/apps.py
  datacollector/migrations/0001_initial.py
  datacollector/urls.py
  requirement.txt
Due: black

chore: requirements.txt in root directory reviewed
  requirement.txt
Due: none

chore: add files to exclude in front and backend directories in pre-commit config
  .pre-commit-config.yaml
Due: none

feat: created second chat box
  .pre-commit-config.yaml
  frontend/src/components/Message/index.jsx
  frontend/src/pages/home/index.jsx
  frontend/src/pages/home/style.css
Due: none

chore: modified pre-commit configs
  .pre-commit-config.yaml
Due: none

feat: search by username bar implement and yup schema
  .pre-commit-config.yaml
  frontend/.eslintrc.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button/style.js
  frontend/src/components/DefaultPage/style.js
  frontend/src/pages/home/index.jsx
  frontend/src/pages/home/style.css
Due: eslint

feat: search by username bar implement and yup schema
  .pre-commit-config.yaml
Due: none

Update bot.py
  bot.py
Due: none

feat: filter by date route implemented
  backend/bot.py
  backend/customapi/settings.py
  backend/datacollector/migrations/0001_initial.py
  backend/datacollector/models.py
  backend/datacollector/urls.py
  backend/datacollector/views.py
Due: black

chore: removed print and removed unused route
  backend/bot.py
  backend/customapi/settings.py
  backend/datacollector/urls.py
Due: black

Update bot.py
  backend/bot.py
Due: black

chore: modified MessageFilterByWordView to use get_list_or_404 instead of objects.filter
  backend/datacollector/urls.py
  backend/datacollector/views.py
  frontend/src/pages/home/index.jsx
Due: black

Update models.py
  backend/datacollector/models.py
Due: black

feat: added filter by word
  backend/bot.py
  backend/datacollector/migrations/0002_rename_timestamp_message_created_at.py
  backend/datacollector/models.py
Due: black

feat: implemented filter by word
  frontend/src/pages/home/index.jsx
Due: none

Docker implement
  backend/Dockerfile
  backend/bot.py
  backend/customapi/settings.py
  backend/requirements.txt
Due: black

Implemented docker
  backend/bot.py
Due: black

Implemented docker
  docker-compose.yml
  frontend/Dockerfile
Due: none

Update requirements.txt
  backend/requirements.txt
Due: none

Delete requirement.txt
  requirement.txt
Due: none

feat: Dockerized backend
  backend/Dockerfile
  backend/bot.py
  backend/customapi/settings.py
  backend/datacollector/migrations/0002_remove_message_timestamp_message_created_at.py
  backend/datacollector/migrations/0003_alter_message_created_at.py
  backend/datacollector/migrations/0004_alter_message_created_at.py
  backend/datacollector/migrations/0005_alter_message_created_at.py
  backend/datacollector/migrations/0006_alter_message_created_at.py
  backend/datacollector/models.py
  docker-compose.yml
Due: black

feat: created entrypoint.sh
  backend/Dockerfile
  backend/bot.py
  backend/customapi/settings.py
  backend/datacollector/migrations/0007_alter_message_created_at.py
  backend/datacollector/migrations/0008_alter_message_created_at.py
  backend/datacollector/migrations/0009_alter_message_created_at.py
  backend/datacollector/migrations/0010_alter_message_created_at.py
  backend/datacollector/migrations/0011_alter_message_created_at.py
  backend/datacollector/migrations/0012_alter_message_created_at.py
  backend/datacollector/migrations/0013_alter_message_created_at.py
  backend/datacollector/migrations/0014_alter_message_created_at.py
  backend/datacollector/migrations/0015_alter_message_created_at.py
  backend/entrypoint.sh
  docker-compose.yml
Due: black

feat: implmemented api tests structure
  backend/customapi/settings.py
  backend/datacollector/tests.py
Due: black

chore: removed credentials from settings.py
  backend/.env.example
  backend/customapi/settings.py
Due: black

.
  backend/datacollector/tests.py
Due: black

chore: added env vars in docker-compose.yml
  backend/.env.example
  backend/customapi/settings.py
  backend/datacollector/migrations/0016_alter_message_created_at.py
Due: black

chore: added env vars in docker-compose.yml
  docker-compose.yml
Due: none

feat: added test for filter by author view
  backend/datacollector/tests.py
Due: black

feat: added test for get by word route
  backend/customapi/settings.py
  backend/datacollector/migrations/0001_initial.py
  backend/datacollector/migrations/0002_alter_message_created_at.py
  backend/datacollector/migrations/0002_remove_message_timestamp_message_created_at.py
  backend/datacollector/migrations/0002_rename_timestamp_message_created_at.py
  backend/datacollector/migrations/0003_alter_message_created_at.py
  backend/datacollector/migrations/0005_alter_message_created_at.py
  backend/datacollector/migrations/0006_alter_message_created_at.py
  backend/datacollector/migrations/0007_alter_message_created_at.py
  backend/datacollector/migrations/0008_alter_message_created_at.py
  backend/datacollector/migrations/0009_alter_message_created_at.py
  backend/datacollector/migrations/0010_alter_message_created_at.py
  backend/datacollector/migrations/0011_alter_message_created_at.py
  backend/datacollector/migrations/0012_alter_message_created_at.py
  backend/datacollector/migrations/0013_alter_message_created_at.py
  backend/datacollector/migrations/0014_alter_message_created_at.py
  backend/datacollector/migrations/0015_alter_message_created_at.py
  backend/datacollector/tests.py
  backend/entrypoint.sh
Due: black

feat: added test for get by word route
  backend/bot.py
  backend/datacollector/migrations/0001_initial.py
  backend/datacollector/migrations/0002_alter_message_created_at.py
  backend/datacollector/models.py
  backend/datacollector/tests.py
Due: black

feat: added test for filter by date interval route
  backend/bot.py
  backend/datacollector/tests.py
  backend/datacollector/views.py
Due: black

feat: added test for filter by date interval route
  backend/datacollector/tests.py
Due: black

feat: added some test
  backend/datacollector/tests.py
Due: black

feat: added unit tests for utils
  backend/datacollector/tests.py
  backend/datacollector/utils/__init__.py
  backend/datacollector/utils/helpers.py
  backend/datacollector/utils/tests.py
Due: black
