Repository angelobarilari/twitchverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx
        args:
          - eslint
          - '--fix'
          - .
        language: node
        types: [javascript]
        pass_filenames: false
        files: frontend/
        exclude: /frontend/node_modules, /frontend/build, /frontend/dist, /frontend/coverage

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        args: ["--line-length", "79", "."]
        language: system
        types: [python]
        pass_filenames: false
        files: backend/
        exclude: backend/migrations/, backend/staticfiles/, backend/venv/, backend/*.pyc, backend/*.pyo, backend/*.egg-info/

chore: renamed some test cases to become standardized
  backend/datacollector/utils/tests.py
Due: black

chore: modified generate_random_string
  backend/datacollector/utils/helpers.py
Due: black

chore: added comments
  backend/datacollector/utils/tests.py
Due: black

feat: added unit tests for some components
  frontend/.eslintrc.yml
  frontend/.jest/setup-tests.js
  frontend/.prettierrc
  frontend/README.md
  frontend/babel.config.json
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Box/Box.test.js
  frontend/src/components/Box/index.jsx
  frontend/src/components/Box/style.js
  frontend/src/components/Button/Button.test.js
  frontend/src/components/Button/index.jsx
  frontend/src/components/Button/style.js
  frontend/src/components/DefaultPage/DefaultPage.test.js
  frontend/src/components/DefaultPage/index.jsx
  frontend/src/components/DefaultPage/style.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Header/index.jsx
  frontend/src/components/Header/style.js
  frontend/src/components/Message/index.jsx
  frontend/src/components/Message/style.js
  frontend/src/main.jsx
  frontend/src/pages/home/index.jsx
  frontend/src/providers/index.jsx
  frontend/src/providers/messages/index.jsx
  frontend/src/routes/index.jsx
  frontend/src/services/api.jsx
  frontend/src/styles/global.js
  frontend/vite.config.js
Due: eslint

test: added tests for Header
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Header/index.jsx
Due: eslint

test: added tests for message component
  frontend/src/components/Box/Box.test.js
  frontend/src/components/Button/Button.test.js
  frontend/src/components/DefaultPage/DefaultPage.test.js
  frontend/src/components/Header/Header.test.js
  frontend/src/components/Header/index.jsx
  frontend/src/components/Message/Message.test.js
  frontend/src/components/Message/index.jsx
Due: eslint

test: added tests for helpers
  frontend/src/components/Message/Message.test.js
  frontend/src/utils/helpers.js
  frontend/src/utils/helpers.test.js
Due: eslint

chore: added comment for function
  frontend/src/utils/helpers.js
Due: eslint

Update docker-compose.yml
  docker-compose.yml
Due: none

Update settings.py
  backend/customapi/settings.py
Due: black

Update bot.py
  backend/bot.py
Due: black

Update Dockerfile
  backend/Dockerfile
Due: none

Delete 0002_remove_message_timestamp_message_created_at.py
  backend/datacollector/migrations/0002_remove_message_timestamp_message_created_at.py
Due: black

Delete 0002_rename_timestamp_message_created_at.py
  backend/datacollector/migrations/0002_rename_timestamp_message_created_at.py
Due: black

Delete 0003_alter_message_created_at.py
  backend/datacollector/migrations/0003_alter_message_created_at.py
Due: black

Delete 0004_alter_message_created_at.py
  backend/datacollector/migrations/0004_alter_message_created_at.py
Due: black

Delete 0005_alter_message_created_at.py
  backend/datacollector/migrations/0005_alter_message_created_at.py
Due: black

Delete 0006_alter_message_created_at.py
  backend/datacollector/migrations/0006_alter_message_created_at.py
Due: black

Delete 0007_alter_message_created_at.py
  backend/datacollector/migrations/0007_alter_message_created_at.py
Due: black

Delete 0015_alter_message_created_at.py
  backend/datacollector/migrations/0015_alter_message_created_at.py
Due: black

Delete 0014_alter_message_created_at.py
  backend/datacollector/migrations/0014_alter_message_created_at.py
Due: black

Delete 0013_alter_message_created_at.py
  backend/datacollector/migrations/0013_alter_message_created_at.py
Due: black

Delete 0010_alter_message_created_at.py
  backend/datacollector/migrations/0010_alter_message_created_at.py
Due: black

Delete 0011_alter_message_created_at.py
  backend/datacollector/migrations/0011_alter_message_created_at.py
Due: black

Delete 0009_alter_message_created_at.py
  backend/datacollector/migrations/0009_alter_message_created_at.py
Due: black

Delete 0008_alter_message_created_at.py
  backend/datacollector/migrations/0008_alter_message_created_at.py
Due: black

Delete 0012_alter_message_created_at.py
  backend/datacollector/migrations/0012_alter_message_created_at.py
Due: black
