Repository angelobarilari/twitchverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx
        args:
          - eslint
          - '--fix'
          - .
        language: node
        types: [javascript]
        pass_filenames: false
        files: frontend/
        exclude: /frontend/node_modules, /frontend/build, /frontend/dist, /frontend/coverage

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        args: ["--line-length", "79", "."]
        language: system
        types: [python]
        pass_filenames: false
        files: backend/
        exclude: backend/migrations/, backend/staticfiles/, backend/venv/, backend/*.pyc, backend/*.pyo, backend/*.egg-info/

Update Dockerfile
  frontend/Dockerfile
Due: none

Update package.json
  frontend/package.json
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

chore: runned pre-commit formaters
  .pre-commit-config.yaml
  backend/bot.py
  backend/customapi/settings.py
  frontend/package.json
  frontend/src/utils/helpers.js
Due: eslint, black

feat: added date interval route
  backend/customapi/settings.py
  frontend/src/pages/home/index.jsx
  frontend/src/pages/home/style.css
Due: black

Delete entrypoint.sh
  backend/entrypoint.sh
Due: none

modified bot
  backend/bot.py
  backend/customapi/settings.py
  backend/datacollector/migrations/0003_alter_message_created_at.py
  backend/datacollector/migrations/0004_alter_message_created_at.py
Due: black

Update bot.py
  backend/bot.py
Due: black

bot updated
  backend/bot.py
  backend/customapi/settings.py
  backend/datacollector/templates/oauth_callback.html
  backend/datacollector/urls.py
  backend/datacollector/views.py
Due: black

pre-commit forced run
  backend/bot.py
  backend/datacollector/migrations/0004_alter_message_created_at.py
  backend/datacollector/urls.py
  backend/datacollector/views.py
  docker-compose.yml
  frontend/src/pages/home/index.jsx
  frontend/src/pages/test/index.jsx
  frontend/src/pages/test/style.css
  frontend/src/routes/index.jsx
  frontend/src/services/api.jsx
Due: black

.
  docker-compose.yml
  frontend/src/App.css
  frontend/src/assets/twitch.svg
  frontend/src/components/Header/index.jsx
  frontend/src/pages/dashboard/index.jsx
  frontend/src/pages/dashboard/style.css
  frontend/src/pages/login/index.jsx
  frontend/src/pages/login/style.css
  frontend/src/pages/test/index.jsx
  frontend/src/pages/test/style.css
  frontend/src/routes/index.jsx
Due: none

chore: force pre-commit to run
  backend/twitch_auth/models.py
Due: black

feat: refactored bot
  backend/.env.example
  backend/bot/bot.py
  backend/bot/commands/commands.py
  backend/bot/utils/websocket_utils.py
  backend/twitch_auth/models.py
  backend/twitch_auth/serializers.py
  backend/twitch_auth/views.py
Due: black

feat: refactored bot
  backend/bot/bot.py
  backend/bot/commands/commands.py
  backend/twitch_auth/serializers.py
  backend/twitch_auth/views.py
Due: black

Update README.md
  README.md
Due: none
